<nav class="nav nav-container">
      <div class="logo">
        <a href="/" class="logo">To Do.</a>
      </div>
      <div class="nav-items">
        <a href="/#todo">To Do's</a>
        <a href="/about">About US</a>
        <a href="/contact">About US</a>
      </div>
    </nav>