<!DOCTYPE html>
<html lang="en">
<head>
    {{>headLinks}}
</head>
<body>
    {{>header}}

    <h1 style="display: flex; justify-content:center; align-items:center; height:90vh; font-size:4rem">About Us Page</h1>
</body>
</html>